

#menu ul {
    display:block;
    height: 40px;
    background: linear-gradient(to bottom, rgba(114,170,0,1) 0%,rgba(158,203,45,1) 100%);
    margin-bottom: 10px;
}

#menu li {
    float:left;
    margin:10px;
    height:2em;
    list-style-type: none;
}

#menu a:link {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: none;
}