*{
    margin:0;
    padding:0;
}

body {
    background:rgb(74,81,85);
}


#stopka {
    font:11px 'Trebuchet MS';
    color:#fff;
    text-indent:30px;
    margin: 15px auto;
    width: 200px;
    text-align: center;
}
a { 
    color:#3a6d02;
}

#stopka a { 
    color:#9acd62;
}

a:hover {
    color:#fff;
}

#okienka {
    position:absolute;
    top:0;
    left:0;
    z-index:10000;
}

.okienko {
    width:400px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:10px solid #ddd;
    border-color:rgba(169, 169, 169, 0.3);
    background-color:rgba(255,255,255,0.8);
    padding:5px;
    background-opacity:0.5;
}
.centrowanie{
    text-align:center;

}

.debug {
    display:none;
}

#chat {
    position:absolute;
    top:5px;
    left:0;
    width:640px;
    height:480px;
    color:rgba(255,255,255,0.7);
    font-size:16px;
    font-family:Verdana;
}

#chat > div {
    width:100%;
    margin-right:10px;
    height:20px;
    text-align:right;
    font-weight:bold;
}

#chatInput {
    display:none;
    position:absolute;
    width:640px;
    border:0;
    top:460px;
    text-align:right;
    height:20px;
    font-size:16px;
    border-top:1px dashed rgba(255,255,255,0.7);
    color:rgba(255,255,255,0.7);
    font-family:Verdana;
    background-color:rgba(0,0,0,0.7);
}
