/nbproject/private/
/Netbeans/Tanks10_Common/nbproject/private/
/Netbeans/Tanks10_Common/build/
/Netbeans/Tanks10_Common/dist/
/Netbeans/Tanks10_Server/nbproject/private/
/Netbeans/Tanks10_Server/dist/
/Netbeans/Tanks10_Server/build/
/Netbeans/Tansk10_Applet/nbproject/private/
/Netbeans/Tanks10_Applet/nbproject/private/
/Netbeans/Tanks10_Applet/build/
/Netbeans/Tanks10_Applet/dist/
/Netbeans/Tanks10_Web/nbproject/private/
/Netbeans/Tanks10_Web/build/
/Netbeans/Tanks10_Web/dist/
/target/